.navigation__toggle {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;

  @include bp(xx) {
    display: none;
  }

  &::after {
    display: inline-block;
    width: 30px;
    height: 22px;
    margin-left: 0.5*$base-unit;
    background: linear-gradient($color-mine-shaft 20%, transparent 20%, transparent 40%, $color-mine-shaft 40%, $color-mine-shaft 60%, transparent 60%, transparent 80%, $color-mine-shaft 80%);
    content: '';
  }

  &:hover,
  &:focus {
    color: $color-persian-red;

    &::after {
      background: linear-gradient($color-persian-red 20%, transparent 20%, transparent 40%, $color-persian-red 40%, $color-persian-red 60%, transparent 60%, transparent 80%, $color-persian-red 80%);
    }
  }
}

.navigation__close {
  position: relative;
  display: none;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  margin-left: auto;
  padding: 0;
  border: 0;
  background: transparent;
  color: transparent;
  -webkit-appearance: none;

  @include bp(xx) {
    display: none;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 50%;
    background: $color-mine-shaft;
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    background: $color-persian-red;
  }

  &::before { transform: rotate(45deg); }

  &::after { transform: rotate(-45deg); }
}

.navigation__element {
  padding-top: 1.5 * $base-unit;
}

.navigation__list {
  display: none;
  list-style: none;
  margin-bottom: 0;
  padding: 0 0 $base-unit;
  border-bottom: 3px solid $color-persian-red;

  &.open {
    display: block;
  }

  @include bp(x) {
    padding-left: 1.5 * $base-unit;
    padding-right: 1.5 * $base-unit;
  }

  @include bp(xx) {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
  }
}

.show-menu {
  .navigation__list {
    display: block;
  }
  .navigation__toggle {
    display: none;
  }
  .navigation__close {
    display: block;
  }
}

.navigation__list-item {
  padding: 0;

  // overrides custom list styling
  &::before { content: none; }

  @include bp(x) {
    padding: 0 $base-unit;
  }
}

.navigation__a {
  @extend %sans-serif;
  border-bottom: none;
  font-size: 1.125em;

  &.current { color: $color-persian-red; }
}
